body {
  padding: 80px 0 0 0;
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #e8543a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px 25px 25px 5px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input::-webkit-input-placeholder,
  input::-moz-placeholder,
  input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    svg {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      .fill {
        fill: #e8543a;
      }
    }
  }
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo {
  width: 100%;
  float: left;
  padding-left: 0;
  list-style: none;
  li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    &:last-of-type {
      margin: 0;
    }
    .buttons {
      width: 100px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      button {
        width: 50px;
        height: 50px;
        float: left;
        background: none;
        position: relative;
        border: 0px;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:last-of-type:before {
          content: '';
          width: 1px;
          height: 30px;
          background: #edf0f1;
          position: absolute;
          top: 10px;
          left: 0;
        }
        svg {
          width: 22px;
          height: 22px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -11px 0 0 -11px;
        }
        &.complete svg {
          border-radius: 11px;
          border: 1.5px solid #e8543a;
          transition: background 0.2s ease;
        }
      }
    }
  }
  &#completed li .buttons button.complete svg {
    background: #0fa821;
    border: 0px;
  }
  &:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(37, 185, 154, 0.75);
    .fill {
      fill: #fff;
    }
  }
  &#completed li .buttons button.complete svg .fill {
    fill: #fff;
  }
  li .buttons button {
    svg .fill {
      transition: fill 0.2s ease;
    }
    &.remove {
      svg .fill {
        fill: #c0cecb;
      }
      &:hover svg .fill {
        fill: #e85656;
      }
    }
    &.complete svg .fill {
      fill: #e8543a;
    }
  }
  &#completed {
    position: relative;
    padding: 60px 0 0 0;
    &:before {
      content: '';
      width: 150px;
      height: 1px;
      background: #d8e5e0;
      position: absolute;
      top: 30px;
      left: 50%;
      margin: 0 0 0 -75px;
    }
  }
  &#todo:empty:after {
    content: 'You have nothing to-do!';
    margin: 15px 0 0 0;
  }
  &#completed:empty:after {
    content: 'You have yet to complete any tasks.';
  }
  &#todo:after,
  &#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
  }
}

.auth-view {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #2D2530;
  width: 100%;
  z-index: 900;
  background-image: url(http://cdn.onlinewebfonts.com/svg/img_78218.svg);
  background-size: 32px;
  .auth-section {
    position: relative;
    top: 25%;
  }
  h1 {
    text-align: center;
  }
  .authenticate-choice {
    box-shadow: 9px 10px 25px -4px #000;
    margin: 0 auto;
    width: 85%;
    border: 1px solid;
    border-radius: 3px;
    padding: 20px 30px;
    background: rgba(228, 251, 204, 0.64);
    @media(min-width: 760px) {
      width: 50%;
      padding: 20px 80px;
    }
    img {
      height: 60px;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }
    input:focus {
      border: 1px solid #ffa500;
    }
    .btn-primary {
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 15px 0;
      @media(min-width: 760px) {
        padding: 15px 80px;
        width: auto;
      }
    }
  }
}